@{
    ViewData["Title"] = "Privacy";
}
<h1>@ViewData["Title"]</h1>
<br />
<body>
    <p>Privacy Policy: Non Disclosure Agreement
        <br>1. No revelation
        <br>2. No question
        <br>3. No photo
        <br>4. No "dislike"
    </p>
    <input type ="checkbox" id="1" checked>
    <label for="1"> I accept</label>
    <p>Uncheck at your own risk!?!!?</p>

    <a asp-area="" asp-controller="KnockKnock" asp-action="Index">
        <button class="btn btn-danger">Submit</button>
    </a>
</body>


