@{
    ViewData["Title"] = "";
}

<style>
    .img_deg {
        background-image: url("https://i.pinimg.com/originals/75/e4/ae/75e4ae6b618809c2179156b6b4016a41.gif");
        background-size: 70%;
        background-repeat: no-repeat;
    }
</style>

<body style="background-color: black;" class="img_deg">
    <a asp-area="" asp-controller="KnockKnock" asp-action="Privacy">
        <img src="https://cdn.pixabay.com/animation/2022/08/02/02/49/02-49-08-258_512.gif" style="border-radius: 50%; float: right; margin-top: 100px;" width="256" height="256">
    </a>
</body>